.formik-wrapper form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.formik-wrapper form h2 {
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 600;
    color: blue;
}
.form-row {
    font-size: 1.2rem;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    flex-direction: column;
}
.form-row label {
    padding: 10px 0;
    font-weight: 400;
    color: grey;
    font-size: 1.1rem;
}
.form-row input {
    display: flex;
    border: none;
    font-weight: 600;
    font-size: 1.3rem;
    background-color: transparent;
    padding: 0px 0px;
    border-bottom: rgb(184, 182, 182) solid 1px;
}

.form-row input:focus {
    outline: none;
    border-bottom: blue solid 2px;
}

.form-row:last-of-type input {
    width: 20%;
}

.add-ingredient-btn,
.submit-ingredient-btn {
    background-color: transparent;
    border: 3px solid rgb(238, 80, 212);
    color: rgb(238, 80, 212);
    font-size: 1.1rem;
    border-radius: 15px;
    margin-left: 10px;
    padding: 10px;
    width: 110px;
}

.add-ingredient-btn i {
    margin-right: 10px;
}

.submit-ingredient-btn {
    align-self: center;
    width: 150px;
}

.red {
    color: red;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .formik-wrapper form {
        margin: auto;
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .formik-wrapper form {
        width: 50%;
    }
}
