.meal-img {
    border-radius: 10%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.meal-img:hover {
    cursor: pointer;
}

.detail-img {
    width: 100%;
    height: 250px;
    border-radius: 0;
}
