@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}
body {
    margin: 0;
    background-color: rgb(255, 251, 251);
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
