@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}
body {
    margin: 0;
    background-color: rgb(255, 246, 246);
}
