.meal-container {
    color: rgb(52, 52, 255);
    display: flex;
    margin: 30px 18px;
    padding: 0 5px 0 20px;
    height: 155px;
    border-bottom: 2px solid rgb(233, 226, 226);
}

.meal-informations {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
}

.meal-informations p {
    padding: 0;
    margin: 0;
}

.meal-informations a {
    font-size: 1.3rem;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .meals-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .meal-container {
        margin: 10px 0 20px 0;
        padding-bottom: 10px;
        width: 40%;
        height: 100%;
        border-bottom: none;
    }
}
