.recipe-detail-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.detail-top-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgb(238, 80, 212);
}

.detail-top-bar .fa-star,
.detail-top-bar p,
.detail-top-bar i,
.detail-bottom-bar i,
.detail-bottom-bar p {
    color: white;
}

.recipe-detail-page main {
    padding: 25px;
    color: rgb(94, 94, 94);
    flex-grow: 1;
}
.recipe-detail-page h2 {
    color: blue;
}
.recipe-detail-page p,
.recipe-detail-page li {
    font-weight: 600 !important;
}

@media screen and (min-width: 768px) {
    .recipe-detail-page main {
        margin: 0 20% 0 20%;
    }
}

@media screen and (min-width: 1200px) {
}
