.meal-container {
    color: rgb(52, 52, 255);
    display: flex;
    margin: 10px;
    height: 135px;
    border-bottom: 1px solid grey;
}

.meal-informations {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
}

.meal-informations p {
    padding: 0;
    margin: 0;
}

.meal-informations p strong {
    font-weight: 1000;
}

.meal-img {
    border-radius: 10%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.meal-duration {
    display: flex;
    color: rgb(68, 66, 66);
}

.meal-duration p {
    margin-left: 5px;
}
