.meal-container {
    color: rgb(52, 52, 255);
    display: flex;
    margin: 30px 18px;
    padding: 0 20px;
    height: 155px;
    border-bottom: 2px solid rgb(233, 226, 226);
}

.meal-informations {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
}

.meal-informations p {
    padding: 0;
    margin: 0;
}

.meal-informations p strong {
    font-size: 1.4rem;
}

.meal-img {
    border-radius: 10%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.meal-duration {
    display: flex;
    color: rgb(68, 66, 66);
    align-items: center;
}

.meal-duration p {
    margin-left: 5px;
    font-weight: 400;
}
